* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1450px;
  margin: auto;
}

.bar1-wrapper {
  width: 100%;
  height: 131px;
  background-color: gold;
}
.bar2-wrapper {
  max-width: 1450px;
  height: 506px;
  margin-top: 30px;
  background-color: purple;
}
main {
  width: 100%;
  display: flex;
}

.boxside-wrapper {
  width: 400px;
  height: 506px;
  background-color: green;
  margin-top: 20px;
}

.box-wrapper {
  width: 725px;
  height: 506px;
  background-color: yellowgreen;
  margin-top: 20px;
}

.box2-wrapper {
  width: 725px;
  height: 506px;
  background-color: green;
  margin-top: 20px;
}

#main {
  width: 1450px;
  height: 506px;
  background-color: blue;
  margin-left: 20px;
  margin-top: 20px;
}

.bar3-wrapper {
  width: 100%;
  height: 131px;
  background-color: red;
  margin-top: 48px;
}
