main {
    width: 100%;
    height: 650px;
    display: flex;
    margin-top: 48px;
}

#main {
    width: 100%;
    height: 655px;
    background-color: royalblue;
}

aside {
    width: 433px;
    height: 655px;
    background-color: saddlebrown;
    margin-right: 35px;
}

nav {
    width: 100%;
    height: 100px;
    background-color: #C4C4C4;
}

.main-2 {
    width: 100%;
    height: 506px;
    display: flex;
    margin: 48px 0px;
}

.wrapper-1 {
    height: 506px;
    margin-top: 48px;
    background-color: seagreen;
    width: 100%;
        
}

.wrapper-2 {
    height: 506px;
    width: 630px;
    margin-right: 55px;
    background-color: slateblue;
}

.wrapper-3 {
    height: 506px;
    width: 100%;
    background-color: tomato;
}

footer {
    height: 120px;
    width: 100%;
    background-color: yellow;
    margin-bottom: 80px;
}

body {
    max-width: 1450px;
    margin: auto;
}