* {
    padding: 0;
    margin: 0;
}

body {
    max-width: 1200px;
    margin: auto;
}

nav {
    width: 100%;
    height: 131px;
    background: #C4C4C4;
}

main {
    width: 100%;
    display: flex;
}

#rectangle1 {
    width: 382px;
    height: 506px;
    background: #CDF2CA;
    margin-top: 48px;
}

#rectangle2 {
    width: 892px;
    height: 506px;
    background: #A2CDCD;
    margin-top: 48px;
    margin-left: 41px;
}

#rectangle3 {
    width: 1315px;
    height: 506px;
    background: #E0C097;
    margin-top: 48px;
}

#rectangle4 {
    width: 630px;
    height: 506px;
    background: #FF7878;
    margin-top: 48px;
    margin-bottom: 48px;
}

#rectangle5 {
    width: 630px;
    height: 506px;
    background: #BFA2DB;
    margin-top: 48px;
    margin-left: 55px;
    margin-bottom: 48px;
}

footer {
    width: 100%;
    height: 131px;
    background: #C6D57E;
}